.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  padding: 16px;
  display: flex;
  justify-content: center;
}

.search {
  display: flex;
  padding: 16px;
  justify-content: center;
  height: 30vh;
  align-items: center;
}

.input {
  width: 50%;
}

.gif {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr;
grid-gap: 16px;
}

.blup {
  display: flex;
  justify-content: center;
}

.prompt {
  height: 56px;
  font-size: 24px;
}

.modalStyle {
    top                   : 50%;
    left                  : 50%;
    right                 : auto;
    bottom                : auto;
    transform             : translate(-45%, -45%);
    padding               : 0;
}

@media (min-width: 100px) and (max-width: 575px) {
  .gif {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 576px) {
  .gif {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 768px) {
  .gif {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .gif {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .gif {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}